.body {
  /* border: 1px solid; */
  padding: auto;
  margin: auto;
  /* background-color: rgb(226, 221, 221); */
  /* z-index: -2; */
}

.container {
  min-height: 100vh;
  width: 1333px;
}

.track {
  /* border: 1px solid; */
  /* height: 20px; */
  z-index: 10;
}

.main-line {
  width: 100%;
}

.loop-line {
  width: 35%;
}

.crossContainer{
    display: inline-flex;
    /* border: 2px solid; */
    /* width: 100%; */
    justify-content: space-between;
    /* padding-top: 10px; */
}


.cross{
    margin-top: 10px;
    height: 20px;
    /* border: 1px solid red;  */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}



.leftCross{
    transform: rotate(-45deg);
    /* transform: translateX(-10px); */
}

.rightCross{
    transform: rotate(35deg);
}

.rota{
    transform: rotate(50deg);
}

.rota2{
    transform: rotate(-58deg);
}


.ledContainer {
  width: 100%;
  height: 20px;
  display: inline-flex;
  /* border: 1px solid red; */
}

.ledSection {
  width: 100px;
  height: 20px;
  border: 1px solid ;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.led {
  height: 10px;
  /* width: 25%; */
  width: 28px;
  box-shadow: black 0px 0px 7px;
  /* border: 1px solid; */
  /* background-color: white; */
  border-radius: 10px;
}

.buttonContainer{
    /* border: 1px solid; */
    height: 20px;
    position: relative;
    /* top: -21px; */
    /* display: inline-flex; */
    display: flex;
    z-index: 5;
}

.btn {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    /* background-color: red; */
    border: 2px solid;
    cursor: pointer;
    transition-duration: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

.signalContainerInnerDiv {
  /* border: 1px solid; */
  width: 100%;
  padding: 2px 0px;
  display: inline-flex;
  background-color: white;
}

.mainSignalInnerDiv{
    display: inline-flex;
    /* border: 1px solid green; */
    width: 100%;
    padding: 3px 0;
}

.signal {
  display: flex;
  padding: 0px 1px;
  width: fit-content;
  /* border: 1px solid red; */
  background-color: gray;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
}

.color {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid;
  margin: 1px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: rgb(30, 236, 30);
}

.white{
    background-color: white;
}

.skyblue{
    background-color: aquamarine;
}

.blue{
  background-color: rgb(0, 183, 255);
}

.blue:hover{
  background-color: rgb(0, 133, 185);
}

.purple{
  background-color: purple;
}

.trainGoing{
  background-color: black;
}


.border50{
  border: 5px solid red;
}

.displayScreenContainer{
  /* border: 1px solid; */
  /* width: 100%; */
  /* float: right; */
  display: flex;
  justify-content: right;
  padding-bottom: 1rem ;
}


.displayScreen{
  border: 3px solid black;
  width: 220px;
  height: 50px;
  /* right: 5px;
  top: 5px; */
  /* position: relative; */
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* float: right; */
}

.shuntBtnContainer{
  /* border: 1px solid; */
  padding: .5rem 0;
  padding-left: 7%;

}

.pointBtnContainer{
  /* border: 1px solid; */
  display: inline-flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.pointBtnContainer>div{
  width: 40%;
  border: 1px solid red;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.activated{
  background-color: white;
}

.cancelBtnContainer{
  padding: .2rem;
  border: 1px solid black;
  border-radius: 50%;
}

.pointBtnContainer > div:nth-child(2) {
  /* Your styles here */
  /* padding: 10rem; */
  padding-left: 7%;
}

.aqua{
  background-color: aqua;
}

.white2{
  background-color: white;
}

.cancel{
  background-color: black;
  position: relative;
  /* width: 50px; */
  /* height: 50px; */
  /* background-color: #ffffff; */
  border: 1px solid #000000;
}

.cancel::after, .cancel::before 
{
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  /* background-color: red; */
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cancel::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cancel::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}